<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: top}); %>
    <body>
        <%- include('./_include/_header', { page: 'top' }); %>

        <main class="l-main">
            <!-- top-kv -->
            <div class="p-top-kv">
                <div class="l-container l-container--xl">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__swiper swiper">
                            <div class="p-top-kv__swiper-wrapper swiper-wrapper">
                                <div class="p-top-kv__media swiper-slide">
                                    <picture>
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" type="image/webp" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-01-1366x688.webp 1366w, <%= path['img:top'] %>top-kv-01-2732x1376.webp 2732w" />
                                        <source type="image/webp" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-01-375x611.webp 375w, <%= path['img:top'] %>top-kv-01-750x1222.webp 750w" />
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-01-1366x688.png 1366w, <%= path['img:top'] %>top-kv-01-2732x1376.png 2732w" />
                                        <img class="p-top-kv__image" width="750" height="1222" src="<%= path['img:top'] %>top-kv-01-750x1222.png" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-01-375x611.png 375w, <%= path['img:top'] %>top-kv-01-750x1222.png 750w" alt="" decoding="async" loading="eager" />
                                    </picture>
                                </div>
                                <div class="p-top-kv__media swiper-slide">
                                    <picture>
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" type="image/webp" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-02-1366x688.webp 1366w, <%= path['img:top'] %>top-kv-02-2732x1376.webp 2732w" />
                                        <source type="image/webp" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-02-375x611.webp 375w, <%= path['img:top'] %>top-kv-02-750x1222.webp 750w" />
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-02-1366x688.png 1366w, <%= path['img:top'] %>top-kv-02-2732x1376.png 2732w" />
                                        <img class="p-top-kv__image" width="750" height="1222" src="<%= path['img:top'] %>top-kv-02-750x1222.png" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-02-375x611.png 375w, <%= path['img:top'] %>top-kv-02-750x1222.png 750w" alt="" decoding="async" loading="eager" />
                                    </picture>
                                </div>
                                <div class="p-top-kv__media swiper-slide">
                                    <picture>
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" type="image/webp" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-03-1366x688.webp 1366w, <%= path['img:top'] %>top-kv-03-2732x1376.webp 2732w" />
                                        <source type="image/webp" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-03-375x611.webp 375w, <%= path['img:top'] %>top-kv-03-750x1222.webp 750w" />
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-03-1366x688.png 1366w, <%= path['img:top'] %>top-kv-03-2732x1376.png 2732w" />
                                        <img class="p-top-kv__image" width="750" height="1222" src="<%= path['img:top'] %>top-kv-03-750x1222.png" sizes="(min-width: 1920px) 1920px, (min-width: 1400px) 1400px, (min-width: 1160px) 1160px, (min-width: 960px) 960px, (min-width: 760px) 760px, (min-width: 640px) 640px, (min-width: 440px) 440px, 300px" srcset="<%= path['img:top'] %>top-kv-03-375x611.png 375w, <%= path['img:top'] %>top-kv-03-750x1222.png 750w" alt="" decoding="async" loading="eager" />
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="p-top-kv__body">
                            <div class="p-top-kv__title">
                                <p class="c-heading__level1 c-text--black c-text--wide c-text--uppercase c-text--shadow"><span class="p-top-kv__break">challenge</span><span class="p-top-kv__break p-top-kv__break--pc p-top-kv__space-01">from</span><span class="p-top-kv__space-02">the</span><span>bottom</span></p>
                            </div>
                            <div class="p-top-kv__copy">
                                <div class="p-top-kv__textbox">
                                    <p class="p-top-kv__text c-text__xl c-text--bold">社会の基礎を支え</p>
                                </div>
                                <div class="p-top-kv__textbox">
                                    <p class="p-top-kv__text c-text__xl c-text--bold">基礎から世界を変革する会社</p>
                                </div>
                            </div>
                        </div>
                        <section class="p-top-kv__news c-news">
                            <div class="c-news__header">
                                <p class="c-news__tab c-text--white c-text--english c-text--uppercase">news</p>
                            </div>
                            <div class="c-news__body">
                                <time class="c-news__date" datetime="2021-06-12">2021.06.12</time>
                                <span class="c-news__tag c-tag c-text__sm c-text--white">お知らせ</span>
                                <p class="c-news__title">新サイトを公開しました。</p>
                            </div>
                            <div class="c-news__footer">
                                <svg class="c-news__arrow c-icon__arrow" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke="#FFF" fill="none" d="M.499 5.499h16l-4.5-3.999" />
                                </svg>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end top-kv -->

            <!-- service section -->
            <section class="p-top-service l-section--service">
                <div class="l-container l-container--xl">
                    <div class="p-top-service__inner">
                        <div class="p-top-service__media">
                            <picture>
                                <source sizes="(min-width: 2040px) 872px, (min-width: 1080px) 42.23vw, 100vw" type="image/webp" srcset="<%= path['img:top'] %>top-services-396x282.webp 396w, <%= path['img:top'] %>top-services-620x440.webp 620w, <%= path['img:top'] %>top-services-792x564.webp 792w, <%= path['img:top'] %>top-services-1240x880.webp 1240w, <%= path['img:top'] %>top-services-1860x1320.webp 1860w" />
                                <img class="p-top-service__image" width="792" height="564" src="<%= path['top:img'] %>top-service-01-792x564.png" sizes="(min-width: 2040px) 872px, (min-width: 1080px) 42.23vw, 100vw" srcset="<%= path['img:top'] %>top-services-396x282.png 396w, <%= path['img:top'] %>top-services-620x440.png 620w, <%= path['img:top'] %>top-services-792x564.png 792w, <%= path['img:top'] %>top-services-1240x880.png 1240w, <%= path['img:top'] %>top-services-1860x1320.webp 1860w" alt="" decoding="async" loading="lazy" />
                            </picture>
                        </div>
                        <div class="p-top-service__body">
                            <div class="p-top-service__header">
                                <h2 class="p-top-service__title c-heading__level2 c-text--uppercase">services</h2>
                                <span class="p-top-service__subtitle c-text__lg c-text--primary">事業内容</span>
                            </div>
                            <div class="l-section__body--service p-top-service__textbox">
                                <h3 class="p-top-service__copy c-heading__level3"><span class="p-top-service__break">人々の生活基盤を</span><span class="p-top-service__break">世界最高峰の技術で支える</span></h3>
                                <p class="p-top-service__text c-text__md"><span class="p-top-service__break--pc c-text--loose c-text--wide">私達のモットーは、「社会基盤から世界をより良くする」こと。</span><span class="p-top-service__break--pc c-text--loose c-text--wide">そのために最前線で国家規模のプロフェクトに参画することもあれば、</span><span class="p-top-service__break--pc c-text--loose c-text--wide">世界各国の技術者、研究者と共に次世代の建設機材の研究開発事業も</span><span class="p-top-service__break--pc c-text--loose c-text--wide">同時に行うことで、業界の進化の促進を担っています。</span></p>
                            </div>
                            <div class="l-section__button--service p-top-service__button">
                                <a class="c-button c-button--medium c-button--primary c-button--shadow c-button--icon c-text--white" href="<%= path['root'] %>service.html">
                                    <span>事業内容を更に知る</span>
                                    <svg class="c-button__icon c-icon__arrow" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke="#FFF" fill="none" d="M.499 5.499h16l-4.5-3.999" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end service section -->
        </main>

        <%- include('./_include/_footer') %>
    </body>
</html>
