<!DOCTYPE html>
<html lang="ja">
    <%- include('./_include/_head', {page: top}); %>
    <body>
        <%- include('./_include/_header', { page: 'top' }); %>

        <main class="l-main">
            <!-- top-kv -->
            <div class="p-top-kv">
                <div class="l-container l-container--xl">
                    <div class="p-top-kv__inner">
                        <div class="p-top-kv__swiper swiper">
                            <div class="p-top-kv__swiper-wrapper swiper-wrapper">
                                <div class="p-top-kv__media swiper-slide">
                                    <picture>
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" type="image/webp" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-01-1366x688.webp 1366w, <%= path['img:top'] %>top-kv-01-2732x1376.webp 2732w" />
                                        <source type="image/webp" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-01-375x611.webp 375w, <%= path['img:top'] %>top-kv-01-750x1222.webp 750w" />
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-01-1366x688.png 1366w, <%= path['img:top'] %>top-kv-01-2732x1376.png 2732w" />
                                        <img
                                            class="p-top-kv__image"
                                            width="750"
                                            height="1222"
                                            src="<%= path['img:top'] %>top-kv-01-750x1222.png"
                                            sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px"
                                            srcset="<%= path['img:top'] %>top-kv-01-375x611.png 375w, <%= path['img:top'] %>top-kv-01-750x1222.png 750w"
                                            alt=""
                                            decoding="async"
                                            loading="eager"
                                        />
                                    </picture>
                                </div>
                                <div class="p-top-kv__media swiper-slide">
                                    <picture>
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" type="image/webp" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-02-1366x688.webp 1366w, <%= path['img:top'] %>top-kv-02-2732x1376.webp 2732w" />
                                        <source type="image/webp" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-02-375x611.webp 375w, <%= path['img:top'] %>top-kv-02-750x1222.webp 750w" />
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-02-1366x688.png 1366w, <%= path['img:top'] %>top-kv-02-2732x1376.png 2732w" />
                                        <img
                                            class="p-top-kv__image"
                                            width="750"
                                            height="1222"
                                            src="<%= path['img:top'] %>top-kv-02-750x1222.png"
                                            sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px"
                                            srcset="<%= path['img:top'] %>top-kv-02-375x611.png 375w, <%= path['img:top'] %>top-kv-02-750x1222.png 750w"
                                            alt=""
                                            decoding="async"
                                            loading="eager"
                                        />
                                    </picture>
                                </div>
                                <div class="p-top-kv__media swiper-slide">
                                    <picture>
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" type="image/webp" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-03-1366x688.webp 1366w, <%= path['img:top'] %>top-kv-03-2732x1376.webp 2732w" />
                                        <source type="image/webp" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-03-375x611.webp 375w, <%= path['img:top'] %>top-kv-03-750x1222.webp 750w" />
                                        <source media="(min-width: <%= breakpoints['tablet'] %>)" sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px" srcset="<%= path['img:top'] %>top-kv-03-1366x688.png 1366w, <%= path['img:top'] %>top-kv-03-2732x1376.png 2732w" />
                                        <img
                                            class="p-top-kv__image"
                                            width="750"
                                            height="1222"
                                            src="<%= path['img:top'] %>top-kv-03-750x1222.png"
                                            sizes="(min-width: 2040px) 1920px, (min-width: 740px) calc(92.19vw + 58px), 376px"
                                            srcset="<%= path['img:top'] %>top-kv-03-375x611.png 375w, <%= path['img:top'] %>top-kv-03-750x1222.png 750w"
                                            alt=""
                                            decoding="async"
                                            loading="eager"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="p-top-kv__body">
                            <p class="c-heading__level1 c-text--black c-text--wide c-text--uppercase c-text--shadow"><span class="p-top-kv__break">challenge</span><span class="p-top-kv__break p-top-kv__break--pc">from&nbsp;</span><span class="p-top-kv__break p-top-kv__break--pc">the bottom</span></p>
                            <div class="p-top-kv__copy">
                                <div class="p-top-kv__textbox">
                                    <p class="p-top-kv__text c-text__xl c-text--bold">社会の基礎を支え</p>
                                </div>
                                <div class="p-top-kv__textbox">
                                    <p class="p-top-kv__text c-text__xl c-text--bold">基礎から世界を変革する会社</p>
                                </div>
                            </div>
                        </div>
                        <section class="p-top-kv__news c-news">
                            <div class="c-news__header">
                                <p class="c-news__tab c-text--white c-text--english c-text--uppercase">news</p>
                            </div>
                            <div class="c-news__body">
                                <time class="c-news__date" datetime="2021-06-12">2021.06.12</time>
                                <span class="c-news__tag c-tag c-text__sm c-text--white">お知らせ</span>
                                <p class="c-news__title">新サイトを公開しました。</p>
                            </div>
                            <div class="c-news__footer"></div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- end top-kv -->

            <!-- message section -->
            <section class="p-top-message">
                <div class="l-container l-container--md">
                    <div class="p-top-message__inner">
                        <h2 class="u-visually-hidden">主治医からのメッセージ</h2>
                        <div class="p-top-message__body">
                            <h3 class="p-top-message__title c-heading__level3 c-text--bold"><span class="p-top-message__break c-text--underline">山形で治療し続けて30年</span><br /><span class="p-top-message__break c-text--underline">笑顔をお守りします</span></h3>
                            <p class="p-top-message__text c-text__md c-text--extra-loose"><span>ここ山形の地で当院を開院し30年が経ちました。</span><span>皆様の笑顔を守るお手伝いをさせていただきました。</span><span>いつも皆様のそばにある”山形県民のかかりつけ医”として</span><span>これからも誠心誠意対応させていただきます。</span></p>
                        </div>
                        <div class="p-top-message__media">
                            <picture>
                                <source
                                    type="image/webp"
                                    sizes="(min-width: 1400px) 690px, (min-width: 740px) calc(47.03vw + 41px), (min-width: 660px) 560px, calc(85.29vw + 14px)"
                                    srcset="<%= path['img:top'] %>top-message-345x210.webp 345w, <%= path['img:top'] %>top-message-690x420.webp 690w, <%= path['img:top'] %>top-message-1380x840.webp 1380w, <%= path['img:top'] %>top-message-2070x1260.webp 2070w"
                                />
                                <img
                                    class="p-top-message__image"
                                    width="690"
                                    height="420"
                                    src="<%= path['img:top'] %>top-message-690x420.jpg"
                                    sizes="(min-width: 1400px) 690px, (min-width: 740px) calc(47.03vw + 41px), (min-width: 660px) 560px, calc(85.29vw + 14px)"
                                    srcset="<%= path['img:top'] %>top-message-345x210.jpg 345w, <%= path['img:top'] %>top-message-690x420.jpg 690w, <%= path['img:top'] %>top-message-1380x840.jpg 1380w, <%= path['img:top'] %>top-message-2070x1260.jpg 2070w"
                                    alt="院長の写真"
                                    decoding="async"
                                    loading="eager"
                                />
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end message section -->

            <!-- service section -->
            <section class="p-top-service">
                <div class="l-container l-container--md">
                    <div class="p-top-service__inner">
                        <div class="p-top-service__title">
                            <h2 class="c-heading__level2 c-heading__level2--center c-text--bold c-text--underline">治療内容</h2>
                        </div>
                        <div class="p-top-service__subtitle">
                            <p class="c-text__md c-text--extra-loose"><span>以下の検査項目以外でも、</span><span>まずはご相談頂けますと幸いです。</span></p>
                        </div>
                        <div class="p-top-service__body p-cards p-cards--col3">
                            <section class="p-cards__item c-card">
                                <div class="c-card__inner">
                                    <div class="c-card__body">
                                        <h3 class="c-card__title c-heading__level3 c-text--bold">一般的な内科疾患</h3>
                                        <p class="c-card__description c-text__md c-text--bold c-text--extra-loose">風邪、扁桃腺炎、発熱、胸痛、むくみ、 動悸、疲れ・疲労、だるい、体重減少、 立ちくらみ、嘔気、嘔吐、吐き気、胸焼け、 食欲不振・減退、肩こり、花粉症、蕁麻疹、 アレルギー性鼻炎など</p>
                                    </div>
                                    <div class="c-card__media">
                                        <img
                                            class="c-card__image"
                                            width="187"
                                            height="187"
                                            src="<%= path['img:top'] %>top-service-01-374x374.png"
                                            sizes="(min-width: 740px) 187px, (min-width: 660px) 387px, calc(68.24vw - 50px)"
                                            srcset="<%= path['img:top'] %>top-service-01-187x187.png 187w, <%= path['img:top'] %>top-service-01-374x374.png 374w"
                                            alt=""
                                            decoding="async"
                                            loading="lazy"
                                        />
                                    </div>
                                </div>
                            </section>
                            <section class="p-cards__item c-card">
                                <div class="c-card__inner">
                                    <div class="c-card__body">
                                        <h3 class="c-card__title c-heading__level3 c-text--bold">循環器内科系疾患</h3>
                                        <p class="c-card__description c-text__md c-text--bold c-text--extra-loose">狭心症、心筋梗塞、心不全、心臓弁膜症、 不整脈、大動脈瘤、心筋症、心臓発作、 動脈硬化症、急性冠動脈症候群など</p>
                                    </div>
                                    <div class="c-card__media">
                                        <img
                                            class="c-card__image"
                                            width="187"
                                            height="187"
                                            src="<%= path['img:top'] %>top-service-02-374x374.png"
                                            sizes="(min-width: 740px) 187px, (min-width: 660px) 387px, calc(68.24vw - 50px)"
                                            srcset="<%= path['img:top'] %>top-service-02-187x187.png 187w, <%= path['img:top'] %>top-service-02-374x374.png 374w"
                                            alt=""
                                            decoding="async"
                                            loading="lazy"
                                        />
                                    </div>
                                </div>
                            </section>
                            <section class="p-cards__item c-card">
                                <div class="c-card__inner">
                                    <div class="c-card__body">
                                        <h3 class="c-card__title c-heading__level3 c-text--bold">消化器内科系疾患</h3>
                                        <p class="c-card__description c-text__md c-text--bold c-text--extra-loose">腹痛、急性・慢性胃炎、胃痛、胃・ 十二指腸潰瘍、下痢、便秘、逆流性食道炎、 過敏性腸症候群、食中毒、胃痙攣、胃下垂、 胃もたれ、心窩部（みぞおち）の痛み、 胆石症、急性・慢性肝炎、自己免疫性肝炎、 脂肪肝、B型肝炎、C型肝炎、肝硬変など</p>
                                    </div>
                                    <div class="c-card__media">
                                        <img
                                            class="c-card__image"
                                            width="187"
                                            height="187"
                                            src="<%= path['img:top'] %>top-service-03-374x374.png"
                                            sizes="(min-width: 740px) 187px, (min-width: 660px) 387px, calc(68.24vw - 50px)"
                                            srcset="<%= path['img:top'] %>top-service-03-187x187.png 187w, <%= path['img:top'] %>top-service-03-374x374.png 374w"
                                            alt=""
                                            decoding="async"
                                            loading="lazy"
                                        />
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end service section -->

            <!-- news section -->
            <section class="p-top-news">
                <div class="l-container l-container--md">
                    <div class="p-top-news__inner">
                        <div class="p-top-news__title">
                            <h2 class="c-heading__level2 c-text--bold c-text--underline">お知らせ</h2>
                        </div>
                        <div class="p-top-news__body">
                            <div class="p-top-news__table">
                                <table class="c-table">
                                    <tr class="c-table__row">
                                        <th class="c-table__header c-text__md c-text--bold c-text--primary c-text--extra-loose"><time datetime="2020-12-22">2020.12.22</time></th>
                                        <td class="c-table__data c-table__data--01 c-badge c-text__xs c-text--bold c-text--white">休診情報</td>
                                        <td class="c-table__data c-table__data--02 c-text__md c-text--bold c-text--extra-loose"><a class="c-text--hover" href="#">2021年1月の休診日は5日、17日、27日となります。</a></td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__header c-text__md c-text--bold c-text--primary c-text--extra-loose"><time datetime="2020-12-11">2020.12.11</time></th>
                                        <td class="c-table__data c-table__data--01 c-badge c-text__xs c-text--bold c-text--white">イベント</td>
                                        <td class="c-table__data c-table__data--02 c-text__md c-text--bold c-text--extra-loose"><a class="c-text--hover" href="#">当院でクリスマスイベントを行います。南高校吹奏楽団をお呼びして、ロビーコンサートを開催予定です。</a></td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__header c-text__md c-text--bold c-text--primary c-text--extra-loose"><time datetime="2020-12-01">2020.12.01</time></th>
                                        <td class="c-table__data c-table__data--01 c-badge c-text__xs c-text--bold c-text--white">採用</td>
                                        <td class="c-table__data c-table__data--02 c-text__md c-text--bold c-text--extra-loose"><a class="c-text--hover" href="#">当院では臨床検査技師を募集しております。詳しい福利厚生についてご説明させていただきます。当院で働く…</a></td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__header c-text__md c-text--bold c-text--primary c-text--extra-loose"><time datetime="2020-11-12">2020.11.12</time></th>
                                        <td class="c-table__data c-table__data--01 c-badge c-text__xs c-text--bold c-text--white">イベント</td>
                                        <td class="c-table__data c-table__data--02 c-text__md c-text--bold c-text--extra-loose"><a class="c-text--hover" href="#">ホームページをリニューアルしました。</a></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="p-top-news__more-wrapper">
                                <p class="p-top-news__more c-text__md c-text--bold c-text--hover"><a href="#">すべて見る</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end news section -->
        </main>

        <%- include('./_include/_footer') %>
    </body>
</html>
